body,
ul,
li {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#004aad;
     height:min-content; 
}

header {
    background-color: #004aad;
    text-align: center;
    color: #fda502;
    font-size:x-large; 
    width: 100%;
     height:min-content; 
    
}

.title {
    color: #004aad;
    width: 100%;
    background-color: #004aad;
    display: inline-block;
    padding: 0px 0px;
    position:static;
    top: 0px;
}

.banner-container {
       display: block;
       margin: 0 auto;
       width: 700px;
       height:min-content; 
}


.logo {
  float: left;
  margin-top: 0px; 
  margin-left: 0px; 
  width: 100px; 
  height: auto; 
  display: block;
  height:min-content; 
}

.logo img{
float: left;
width: 180px;
height: 180px;
height:min-content; 
}

#campo-texto {
  border-radius: 15px; 
  padding: 20px; 
  border: 1px solid #004aad; 
  outline: none; 
  float: left;
  margin-left: 0px; 
  margin-left: 0px;
}

/* Adicionar um estilo para quando o input estiver em foco */
#campo-texto:focus {
  border-color: #004aad; 
  box-shadow: 0 0 12px #004aad; 
  border-radius: 15px;
}

.nemwItem {
  border-color: #004aad; 
  box-shadow: 0 0 12px #004aad; 
  border-radius: 15px; 
  padding: 20px; 

}

#marca {
  border-radius: 8px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input {
  border-radius: 8px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button1 {
background-color: #4CAF50; /* Cor de fundo */
border: none; /* Remove a borda padrão */
color: white; /* Cor do texto */
padding: 20px 50px; /* Espaçamento interno */
text-align: center; /* Alinha o texto no centro */
text-decoration: none; /* Remove a decoração do texto */
display: inline-block; /* Permite que a estilização seja feita */
font-size: 16px;
cursor: pointer; /* Muda o cursor para indicar que é clicável */
border-radius: 20px; /* Define o raio do arredondamento */
} 

button1:hover {
        opacity: 0.9; /* Reduz a opacidade ao passar o mouse */
    }


    button2 {
      background-color: #d30606; /* Cor de fundo */
      border: none; /* Remove a borda padrão */
      color: white; /* Cor do texto */
      padding: 20px 50px; /* Espaçamento interno */
      text-align: center; /* Alinha o texto no centro */
      text-decoration: none; /* Remove a decoração do texto */
      display: inline-block; /* Permite que a estilização seja feita */
      font-size: 16px;
      cursor: pointer; /* Muda o cursor para indicar que é clicável */
      border-radius: 20px; /* Define o raio do arredondamento */
    }
    button2:hover {
      opacity: 0.9; /* Reduz a opacidade ao passar o mouse */
    }

     button3 {
      background-color: #FFFF; /* Cor de fundo */
      border: none; /* Remove a borda padrão */
      color: rgb(10, 10, 10); /* Cor do texto */
      padding: 20px 50px; /* Espaçamento interno */
      text-align: center; /* Alinha o texto no centro */
      text-decoration: none; /* Remove a decoração do texto */
      display: inline-block; /* Permite que a estilização seja feita */
      font-size: 16px;
      cursor: pointer; /* Muda o cursor para indicar que é clicável */
      border-radius: 20px; /* Define o raio do arredondamento */
    }
    button3:hover {
      opacity: 0.7; /* Reduz a opacidade ao passar o mouse */
    }
    
    #carros {
    border-collapse: separate;
    border-spacing: 0;
    }

    td, th {
    padding: 0.5rem;
    }

    
/* Apply bottom and right borders to table cells */
th, td {
  border-bottom: 1px solid #004aad; /* Bottom border */
  border-right: 2px solid #004aad; /* Right border */
  padding: 0.5rem; /* Optional: Add padding for content */
}


.newItem {
    background-color:#004aad;
    padding: 10px 10px;
    color: #004aad;
    display: flex;
    justify-content:center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

#newInput {
    margin: 0;
    border: 1px solid #004aad;
    width: 25%;
    padding: 10px;
    font-size: 10px;
}


.addBtn:hover {
    background-color: #2ab53a;
    color: white;
}

.items {
    margin: 1px;
    padding: 0;
    display: flex;
    justify-content: center;    
    border: 3px solid #004aad;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

table,
th,
td {
    border: 1px solid #FFFFFF;  
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    padding: 2px 5px 10px 10px;
    font-size: 15px;
    transition: 0.5s;
    justify-content: center; 
    text-align: start;
    margin-top: auto;
    overflow: hidden;
}

table{
    background-color: white;
    width: 80%;
     border-bottom-right-radius: 10px;
}

tr:nth-child(odd){
    background-color: #ffffff3d;
     border-top-left-radius: 10px;
}

th:nth-child(1){
    width: 40%;
    border-top-right-radius: 10px;
}

tr:hover {
    background: whitesmoke;
}

